body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef3f8;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #0044cc;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #003399;
}

/* Konten */
.container {
    width: 90%;
    max-width: 700px;
    background-color: white;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0044cc;
    text-align: center;
}

h2 {
    color: #003399;
    border-left: 5px solid #0044cc;
    padding-left: 10px;
}

ul {
    margin-left: 20px;
}

p {
    text-align: justify;
    line-height: 1.6;
}

/* Gambar */
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 400px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #0044cc;
    color: white;
    position:absolute;
    bottom: 0;
    width: 100%;

}
